/* ********** GLOBAL ********** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ********** BODY ********** */

body {
  display: flex;
  background-color: #EAEAF4;
  font-family: 'Open Sans';
}

/* ********** ASIDE ********** */

aside {
  background-color: #1F1F3D;
  color: #E9E9F3;
  width: 20%;
}

aside h1 {
  color: #FFF;
  padding: 15px;
}

.starred-ideas-div {
  border-top: 2px solid #353567;
  border-bottom: 2px solid #353567;
  display: flex;
  flex-flow: column nowrap;
}

.starred-ideas-div p {
  padding: 15px;
  color: #BFBFDD;
  font-weight: bold;
}

#show-starred-idea-btn {
  background-color: #5356A4;
  color: #E9E9F3;
  padding: 12px;
  width: 90%;
  align-self: center;
  margin: 15px 0px 30px;
  border-radius: 4px;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid #353567;
  font-family: 'Open sans';
  cursor: pointer;
}

.hidden {
  display: none;
}

/* ********** MAIN ********** */

main {
  width: 80%;
}

/* ********** FORM SECTION ********** */

.form-section {
  background-color: #A9AAD2;
  display: flex;
  justify-content: center;
  margin-left: 2px;
  width: 100%;
}

.form-section form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-width: 500px;
  width: 50%;
}

.form-section form button,
.form-section form div,
.form-section form input,
.form-section form label,
.form-section form textarea {
  border: 2px solid #353567;
  font-family: 'Open Sans';
  margin: 10px;
}

.form-section form label {
  border: 0px;
  margin-bottom: 0;
  outline: none;
}

label {
  font-size: 18px;
  color: #1F1F3D;
  font-weight: bold;
}

input,
textarea {
  font-size: 16px;
  padding: 10px;
}

input {
  padding: 10px;
  border-radius: 4px;
}

textarea {
  height: 100px;
  overflow: scroll;
  border-radius: 4px;
}

.save {
  color: #BFBFDD;
  padding: 16px;
  font-size: 24px;
  font-family: 'Open sans';
  font-weight: bold;
  border-radius: 4px;
}

.disable-save-btn {
  background-color: #585759;
}

.active-save-btn {
  background-color: #353567;
  cursor: pointer;
}

#search-box {
  display: flex;
  margin-bottom: 30px;
  border-radius: 4px;
}

#search-box * {
  margin: 0;
}

#search-box button {
  background: #353567 url(./assets/search.svg) no-repeat center/50%;
  width: 8.5%;
  border: none;
  cursor: pointer;
}

#search-box input {
  width: 91.5%;
  border: none;
}

/* ********** CARD SECTION ********** */

.card-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.cards {
  background-color: #FFF;
  border-radius: 2px;
  border: 2px solid #1F1F3D;
  margin: 20px;
  width: 300px;
}

.cards h2 {
  margin: 15px;
}

.cards p {
  font-size: 20px;
  margin-right: 15px;
  padding: 0px 15px 15px;
}

.card-header {
  background-color: #1F1F3D;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.card-btns {
  border: none;
  height: 30px;
  outline: 0px;
  cursor: pointer;
  width: 30px;
}

.disable-favorite-btn {
  background: url(./assets/star.svg) no-repeat center/100%;
}

.active-favorite-btn {
  background: url(./assets/star-active.svg) no-repeat center/100%;
}

.delete-btn {
  background: url(./assets/delete.svg) no-repeat center/100%;
}

.card-content {
  height: 200px;
  overflow: scroll;
}

.card-footer {
  align-items: center;
  background-color: #5354A4;
  display: flex;
  height: 30px;
  border-top: 1px solid #1F1F3D;
}

.comment-btn {
  background: url(./assets/comment.svg) no-repeat center/100%;
}

.comment-label {
  color: #FFF;
}

/* *********** MEDIA QUERIES ********** */

@media screen and (max-width: 54em) {

  .form-section form {
    width: 75%;
    min-width: 450px;
  }

  .card-section {
    justify-content: center;
  }

  .cards {
    width: 60%;
    min-width: 280px;
  }

}

@media screen and (max-width: 36em) {

  body {
    flex-flow: column nowrap;
  }

  aside,
  main {
    width: 100%;
  }

  aside {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  aside h1 {
    margin: auto;
    padding-right: 50px;
  }

  .starred-ideas-div {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .starred-ideas-active {
    display: inline-flex;
  }

  .starred-ideas-div p {
    width: 90%;
    margin: 1em;
  }

  .mobile-menu-inactive {
    background: url(./assets/menu.svg) no-repeat center/100%;
    border: none;
    cursor: pointer;
    display: flex;
    outline: 0;
    width: 50px;
    cursor: pointer;
  }

  .mobile-menu-active {
    background: url(./assets/menu-close.svg) no-repeat center/100%;
  }

  .form-section {
    margin-left: 0px;
  }

  .form-section form {
    width: 95%;
    min-width: 100px;
  }

  .cards {
    width: 65%;
  }

}
