/* ********** GLOBAL ********** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ********** BODY ********** */

body {
  display: flex;
  background-color: #EAEAF4;
  font-family: 'Open Sans';
}

/* ********** ASIDE ********** */

aside {
  background-color: #1F1F3D;
  color: #E9E9F3;
  width: 20%;
}

aside h1 {
  color: #BFBFDD;
  padding: 15px;
}

#starred-ideas-div {
  border-top: 2px solid #353567;
  border-bottom: 2px solid #353567;
  display: flex;
  flex-flow: column nowrap;
}

#starred-ideas-div p {
  padding: 15px;
}

#show-starred-idea-btn {
  background-color: #353567;
  color: #E9E9F3;
  padding: 15px;
  width: 90%;
  align-self: center;
  margin: 15px 0px 30px;
  border-radius: 2px;
}

/* ********** MAIN ********** */

main {
  width: 80%;
}

/* ********** FORM SECTION ********** */

.form-section {
  display: flex;
  justify-content: center;
  background-color: #A9AAD2;
  margin-left: 1px;
  width: 100%;
}

.form-section form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 50%;
  min-width: 500px;
}

.form-section form label,
.form-section form input,
.form-section form textarea,
.form-section form div,
.form-section form button {
  margin: 10px;
  border: 2px solid #353567;
}

.form-section form label {
  border: 0px;
  outline: none;
  margin-bottom: 0;
}

label {
  font-weight: bold;
  font-size: 18px;
}

input,
textarea {
  font-size: 16px;
  padding: 10px;
}

input {
  padding: 10px;
}

textarea {
  height: 100px;
  overflow: scroll;
}

.save {
  color: #FFF;
  padding: 20px;
  font-size: 26px;
}

.disable-save-btn {
  background-color: #585759;
}

.active-save-btn {
  background-color: #353567;
}

#search-box {
  display: flex;
  margin-bottom: 30px;
}

#search-box * {
  margin: 0;
}

#search-box button {
  background: #353567 url(./assets/search.svg) no-repeat center/50%;
  width: 10%;
  border: none;
}

#search-box input {
  width: 90%;
  border: none;
}

/* ********** CARD SECTION ********** */

.cards {
  width: 300px;
  border: 2px solid black;
  margin: 20px;
  background-color: #FFF;
  border-radius: 2px;
}

.cards h2 {
  margin: 15px;
}

.cards p {
  padding: 0px 15px 15px;
  font-size: 20px;
  margin-right: 15px;
}


.card-header {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.card-btns {
  width: 30px;
  height: 30px;
  border: none;
  outline: 0px;
}

.disable-favorite-btn {
  background: url(./assets/star.svg) no-repeat center/100%;
}

.active-favorite-btn {
  background: url(./assets/star-active.svg) no-repeat center/100%;
}

.delete-btn {
  background: url(./assets/delete.svg) no-repeat center/100%;
}

.card-content {
  height: 200px;
  overflow: scroll;
}

.card-footer {
  background-color: #5354A4;
  height: 30px;
  display: flex;
  align-items: center;
}

.comment-btn {
  background: url(./assets/comment.svg) no-repeat center/100%;
}

.comment-label {
  color: #FFF;
}

.card-section {
  display: flex;
  flex-flow: row wrap;
}

/* *********** MEDIA QUERIES ********** */

@media screen and (max-width: 875px) {

  .form-section form {
    width: 70%;
    min-width: 0;
  }

  .cards {
    width: 100%;
  }

}

@media screen and (max-width: 675px) {

  body {
    flex-flow: column nowrap;
  }

  aside,
  main {
    width: 100%;
  }

  aside {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  aside h1 {
    margin: auto;
    padding-right: 50px;
  }

  #starred-ideas-div {
    display: none;
  }

  .mobile-menu-inactive {
    background: url(./assets/menu.svg) no-repeat center/100%;
    display: flex;
    width: 50px;
    justify-self: flex-start;
    border: none;
    outline: 0;
  }

  .mobile-menu-active {
    background: url(./assets/menu-close.svg);
  }

  .form-section form {
    width: 95%;
  }

}